*{
  font-family: 'Oswald';
}

.main-slider{
  margin-top: 10vh;
}

.map { width: 100%; height: 500px; display: inline-block; font-family: sans-serif; border: 2px solid #aaa; background:url('../images/map.png') no-repeat;
}

.cform-container {

}
.formu{
  margin-bottom: 5vh;
  margin-left: 6vw;
  padding-bottom: 10px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 5px 0px rgba(11, 127, 15, 0.75);
 
}

.formu h2{
  padding-top: 20px;
  font-family: 'Oswald';
  text-align: center; 
  text-transform: uppercase;
}

.formu p{
  padding-top: 5px;
  font-family: 'Oswald';
  text-align: center;
  font-size : 0.8em; 
  color : #9f9f9f;
}
.formu h4{
  padding-top: 10px;
  font-family: 'Oswald';
  padding-left : 35%;
  text-transform: uppercase;
}

.formu  hr {
  width : 80%;
  padding-left: 0px !important;
}

.formu form{
  padding-left: 15% !important;
}

.widthizer {
  width : 80% !important;
}

.longer{
  padding-left : 30% !important;
}
.submitter{
  background: url('../img/btn-top.png') no-repeat;
  background-size:cover !important;
  color : #fff;
  text-transform: uppercase;
  font-size : 1.2em;
  margin-top: 25px;
  padding: 12px 0px !important;
  margin-left: 0px !important;
  width : 82%;
}

.right_side_text{
  font-size: 1.4em;
  padding-top: 20%;
}