#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: calc(100% / 3);
  height: 100%;
  z-index: 10000;
  border: 2px solid #fedc01;
}

#loader-wrapper .loader-section.section-right {
  left: calc(100% / 3 * 2);
  background-image: url("../images/intro/web-bg.png ");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#loader-wrapper .loader-section.section-right .filter-right {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(42,122,7,0.33);
  background: -moz-linear-gradient(top, rgba(42,122,7,0.33) 0%, rgba(231,234,29,0.32) 96%, rgba(231,234,29,0.32) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(42,122,7,0.33)), color-stop(96%, rgba(231,234,29,0.32)), color-stop(100%, rgba(231,234,29,0.32)));
  background: -webkit-linear-gradient(top, rgba(42,122,7,0.33) 0%, rgba(231,234,29,0.32) 96%, rgba(231,234,29,0.32) 100%);
  background: -o-linear-gradient(top, rgba(42,122,7,0.33) 0%, rgba(231,234,29,0.32) 96%, rgba(231,234,29,0.32) 100%);
  background: -ms-linear-gradient(top, rgba(42,122,7,0.33) 0%, rgba(231,234,29,0.32) 96%, rgba(231,234,29,0.32) 100%);
  background: linear-gradient(to bottom, rgba(42,122,7,0.33) 0%, rgba(231,234,29,0.32) 96%, rgba(231,234,29,0.32) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a7a07', endColorstr='#e7ea1d', GradientType=0 );
  opacity: 0;
}

#loader-wrapper .loader-section.section-right:hover .filter-right {
  opacity: .7;
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

#loader-wrapper .loader-section.section-middle {
  background: #000000;
  left: calc(100% / 3);
  background-image: url("../images/intro/fb-bg.png ");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#loader-wrapper .loader-section.section-middle .filter-middle {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(110,168,245,1);
  background: -moz-linear-gradient(top, rgba(110,168,245,1) 0%, rgba(51,100,163,0.35) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(110,168,245,1)), color-stop(100%, rgba(51,100,163,0.35)));
  background: -webkit-linear-gradient(top, rgba(110,168,245,1) 0%, rgba(51,100,163,0.35) 100%);
  background: -o-linear-gradient(top, rgba(110,168,245,1) 0%, rgba(51,100,163,0.35) 100%);
  background: -ms-linear-gradient(top, rgba(110,168,245,1) 0%, rgba(51,100,163,0.35) 100%);
  background: linear-gradient(to bottom, rgba(110,168,245,1) 0%, rgba(51,100,163,0.35) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ea8f5', endColorstr='#3364a3', GradientType=0 );
  opacity: 0;
}

#loader-wrapper .loader-section.section-middle:hover .filter-middle {
  opacity: .5;
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

#loader-wrapper .loader-section.section-left {
  left: 0%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#loader-wrapper .loader-section.section-left .section-up {
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 50%;
  border-bottom: 2px solid #fedc01;
  background-image: url("../images/intro/insta-bg.png ");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#loader-wrapper .loader-section .section-up .filter-up {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(227,34,89,0.75);
  background: -moz-linear-gradient(top, rgba(227,34,89,0.75) 0%, rgba(253,185,82,0.41) 99%, rgba(253,185,82,0.41) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(227,34,89,0.75)), color-stop(99%, rgba(253,185,82,0.41)), color-stop(100%, rgba(253,185,82,0.41)));
  background: -webkit-linear-gradient(top, rgba(227,34,89,0.75) 0%, rgba(253,185,82,0.41) 99%, rgba(253,185,82,0.41) 100%);
  background: -o-linear-gradient(top, rgba(227,34,89,0.75) 0%, rgba(253,185,82,0.41) 99%, rgba(253,185,82,0.41) 100%);
  background: -ms-linear-gradient(top, rgba(227,34,89,0.75) 0%, rgba(253,185,82,0.41) 99%, rgba(253,185,82,0.41) 100%);
  background: linear-gradient(to bottom, rgba(227,34,89,0.75) 0%, rgba(253,185,82,0.41) 99%, rgba(253,185,82,0.41) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e32259', endColorstr='#fdb952', GradientType=0 );
  opacity: 0;
}

#loader-wrapper .loader-section .section-up:hover .filter-up {
  opacity: .5;
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

#loader-wrapper .loader-section.section-left .section-down {
  position: relative;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 50%;
  border-top: 2px solid #fedc01;
  background-image: url("../images/intro/youtube-bg.png ");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#loader-wrapper .loader-section.section-right .logo-holder {
    position: absolute;
    top: 20%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#loader-wrapper .loader-section .section-down .filter-down {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(210,3,3,0.41);
  background: -moz-linear-gradient(top, rgba(210,3,3,0.41) 0%, rgba(210,3,3,0.41) 1%, rgba(234,7,7,0.75) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(210,3,3,0.41)), color-stop(1%, rgba(210,3,3,0.41)), color-stop(100%, rgba(234,7,7,0.75)));
  background: -webkit-linear-gradient(top, rgba(210,3,3,0.41) 0%, rgba(210,3,3,0.41) 1%, rgba(234,7,7,0.75) 100%);
  background: -o-linear-gradient(top, rgba(210,3,3,0.41) 0%, rgba(210,3,3,0.41) 1%, rgba(234,7,7,0.75) 100%);
  background: -ms-linear-gradient(top, rgba(210,3,3,0.41) 0%, rgba(210,3,3,0.41) 1%, rgba(234,7,7,0.75) 100%);
  background: linear-gradient(to bottom, rgba(210,3,3,0.41) 0%, rgba(210,3,3,0.41) 1%, rgba(234,7,7,0.75) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d20303', endColorstr='#ea0707', GradientType=0 );
  opacity: 0;
}

#loader-wrapper .loader-section .section-down:hover .filter-down {
  opacity: .5;
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

#loader-wrapper .loader-section.section-right img {
    position: relative;
    display: block;
    margin: auto;
}

#loader-wrapper .loader-section.section-right h3 {
    color: #ffffff;
    font-family: 'Oswald';
    font-size: 2.4vw;
    text-align: center;
}

#loader-wrapper .loader-section .btn-holder {
    position: absolute;
    bottom: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 10221;
}

#loader-wrapper .loader-section .btn-holder button {
    background-color: transparent;
    background-repeat:no-repeat;
    border: 2px solid white;
    border-radius: 2px;
    overflow: hidden;
    outline:none;
    color: #ffffff;
    font-family: 'Oswald';
    font-size: 2.2vw;
    padding: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#loader-wrapper .loader-section.section-right .btn-holder button:hover {
  background-color: #fedc01;
  color: #0b7f0f;
  border-color: #0b7f0f;
}

#loader-wrapper .loader-section.section-middle .btn-holder button:hover {
  background-color: #3b5998;
  color: #f7f7f7;
  border-color: #f7f7f7;
}

#loader-wrapper .loader-section .section-up .btn-holder button:hover {
  background-color: #fdb852;
  color: #e32259;
  border-color: #e32259;
}

#loader-wrapper .loader-section .section-down .btn-holder button:hover {
  background-color: #b31217;
  color: #f7f7f7;
  border-color: #f7f7f7;
}

#loader-wrapper .loader-section .btn-holder button i {
  font-size: 3vw;
}

#loader-wrapper .loader-section .btn-holder h4{
    color: #ffffff;
    font-family: 'Oswald';
    font-size: 2vw;
    text-align: center;
}

/*@media only screen and (min-width: 300px) and (max-width: 765px){
  #loader-wrapper .loader-section.section-right .btn-holder button {
    font-size: 10px;

  }
}*/