
.news-container {
	padding: 0!important;
	height: 100vh	;
	width: 100%;
	-webkit-transition: opacity 800ms ease-in-out; /* property duration timing-function delay */
    -moz-transition: opacity 800ms ease-in-out;
    -o-transition: opacity 800ms ease-in-out;
    transition: opacity 800ms ease-in-out;
	background-image: url('../img/actualite/61.jpg');
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	opacity: 0;
}
.news-container-fade {
	opacity: 1;
}
.news-title {
	color: #ffffff;
    font-family: 'Oswald';
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 19%;
    left: 7%;
}
.news-description {
	position: relative;
	left: 7%;
	top: 32%;
	max-width: 50vw;
	font-family: 'Oswald';
    font-weight: 400;
    color: white;
}