.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;

	border: 1px solid #dbdbdb;
}

	.flip-container:hover .flipper,  
  .flip-container.hover .flipper {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 230px;
	height: 320px;
}

.flipeer{
	width: 232px;
	height: 400px;
    border-top: 5px solid #0b7f0f; 
	background : #fff;
}

.flipeer-container{
	width: 263px;
	height: 440px;
	background : #fff;
	border: 15px solid #fff; 
	margin:0 auto;
}

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
  
  -o-transition: 0.6s;
	-o-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;

	position: absolute;
	
}

.front {
	z-index: 2;
	background-position: center center !important;
	background-size:cover !important;
}

.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);
	z-index: 3;
	background: #f5d829;
}

.front .name {
	font-size: 2em  !important;
	display: inline-block;
	background: rgba(33, 33, 33, 0.9);
	color: #f8f8f8;
	font-family: Courier;
	padding: 5px 10px;
	border-radius: 5px;
	bottom: 60px;
	left: 25%;
	position: absolute;
	text-shadow: 0.1em 0.1em 0.05em #333;

	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
	transform: rotate(-20deg);
}



.back-title {
	top: 40px  !important;
	font-weight: bold ;
	color: #0b7f0f;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 2em  !important;
	
}

.back p {
	font-family: 'Oswald'  !important;
	position: absolute;
	bottom: 80px;
	left: 20px;
	right: 0;
	color : #0b7f0f;
	text-align: left;
	padding: 0 20px  !important;
	font-family: arial;
	line-height: 2em  !important;
}


.downinfo{
	margin-top : 140%  !important;
	display: inline-block;
}

.jersey{
	 font-size: 3.6rem  !important;
	 color : #0b7f0f;
	 text-align : center; 
	 padding-top : 5%;
	 padding-bottom : 11%;
	 width : 60px !important;
	 height : 72px !important;
	 border-right : 3px solid #dbdbdb;
	 display: inline-block;
}

.player{
	/*font-size: 2.1rem*/
	color : #0b7f0f;
	text-transform: uppercase ;
}

.post{
	/*font-size: 1.8rem*/
	color : #7c7c7c;
	padding-left : 10px;
}

.headertitle{
	color : #0b7f0f;
	font-size: 300%;
	text-align : center; 
}

.player_name{
	display: inline-block;
	margin-bottom: 20px !important;
}

body{
	font-family: 'Oswald'  !important;
}

.ui-widget {
    font-size: 1.0em !important;
}