/*------------------------------------------------------------------
[Master Stylesheet]

Project    	: ASM
Version		: 1.0
Last change	: 26/AUG/2016

            _____ __  __   ______     __   _____        _____ _____ _____ ______ 
     /\    / ____|  \/  | |  _ \ \   / /  / ____|      |  __ \_   _/ ____|  ____|
    /  \  | (___ | \  / | | |_) \ \_/ /  | |  __ ______| |  | || || |    | |__   
   / /\ \  \___ \| |\/| | |  _ < \   /   | | |_ |______| |  | || || |    |  __|  
  / ____ \ ____) | |  | | | |_) | | |    | |__| |      | |__| || || |____| |____ 
 /_/    \_\_____/|_|  |_| |____/  |_|     \_____|      |_____/_____\_____|______|
                                                                                 
                                                                                 
[Table of contents]

0. Fonts
1. General Structures
2. Slider
3. Nav
4. RESULTAT & FLASH INFO
5. Images
6. Footer
7. Portrait & landscape phone
8. Landscape phone to portrait tablet
9. Large Desktop

-------------------------------------------------------------------*/
.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
html,body {
    margin:0;
    padding:0;
}

@font-face {
	font-family: 'Bebas';
	font-weight: 300;
	src: url(../fonts/BebasNeue.otf) format("opentype");
}

@font-face {
  font-family: 'Oswald';
  src: url(../fonts/Oswald-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

body {
  overflow-x: hidden!important;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: #FCFCFC;
 
}



li {list-style: none;}
.header-wrapper > h4{

	color: #0b7f0f;
	font-family: 'Oswald';
	padding-bottom: 15px;
	border-bottom: solid 3px green;
	box-shadow: 0 2px 0 yellow;
	font-size: 36px;
	text-transform: uppercase;
	display: table-cell;
}
.header-wrapper-history > h4{

	color: #0b7f0f;
	font-family: 'Oswald';
	padding-bottom: 15px;
	border-bottom: solid 3px green;
	box-shadow: 0 2px 0 yellow;
	font-size: 36px;
	text-transform: uppercase;
	display: table-cell;
}



/*-------------- NAV --------------*/

.navbar {

	margin: 0;
	position: absolute;
	z-index: 9999;
	padding: 0px 1rem 0px 1rem;
	top: 0;
	left: 0;
	width: 100%;
	border-radius: 0;
	background-color: #fedc01;
	border: 0px;
	height: 30px;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.navbar-fixed {
	position: fixed!important;
	height: 20px;
	opacity: 1;
}
.nav-shape {
	position: absolute;
	text-align: center;
	top: 1rem;
	left: 0;
	z-index: 2;
}

.sponsors-nav li {
	display:table-cell;
	padding: 17px 10px 10px 10px;
}

.navbar-right li {
	display:table-cell;
	padding: 20px 10px 10px 10px;
	font-family: 'Bebas';
}
.main-list{
	padding-left: 20px!important
} 

.main-list a {
	padding: 0px 10px 0px 0px!important;
	color: #1a1a1a!important;
}

.main-list i:hover{
	color: #FFFDE2;
	-moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
}
.main-list p {
	display:inline-block;
	padding: 20px 7px 0px 0px;
	font-family: 'Bebas';
	font-size: 1.1em;
}

.main-list li {
	display: inline-block;
}
.navbar-right li:nth-child(1){
	padding-right: 0px;

}

.navbar-right li:nth-child(2){
	padding-left: 2px;
	cursor: pointer;
}

.navbar-right p {
	
	font-family: 'Bebas';
	font-size: 18px;
}

.navbar-brand {
	position: relative;
}


.navbar-right input[type=text] {

	border: none;
	background-color: transparent;
	outline: none;
	color: #1a1a1a;
	padding-left: 4px;
	height: 20px;
	width: 150px;
}

.logo-nav {

	position: relative;
	background-image: url('../images/logo_asm.svg');
	background-repeat: no-repeat;
	background-size: cover;

}

.circle-container {
	position: relative;
	width: 10em;
	height: 9em;
	padding: 1em; /*= 2em * 1.4 */
	border-radius: 60%;
	margin: 1.75em auto 0;
	padding-top: 0px!important;
	margin-top: 0px!important;
}
.center{
	position: absolute;
	top: -3rem;
	left: 0.5rem;
	width: 150px;
	height: 150px;
}
.circle-container a:not(:first-child) {
	display: inline-block;
	overflow: hidden;
	position: absolute;
	top: 100%; left: 65%;
	color: white;
	width: 10em; height: 4em;
	margin: -3.5em; /* 2em = 4em/2 */ /* half the width */
	vertical-align: middle!important;
	height: 30px!important;
	-moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    text-decoration: none;

}

.circle-container a:hover {
	color: #fedc01;
}

.circle-container p {
	font-family: 'Bebas';
	font-size: 16px;
	display: inline-block!important;
	margin: 0;
	width: 1rem!important;
}

.circle-container a li{
	
	display: inline-block;
    vertical-align: middle;
    list-style-position: inside;
    text-align: left;
    white-space: nowrap;

}

.deg0 { transform: translate(12em); margin-top: -1rem!important;} /* 12em = half the width of the wrapper */
.deg45 { transform: rotate(45deg) translate(10em) rotate(-45deg); }
.deg90 { transform: rotate(90deg) translate(11em) rotate(-90deg);}
.deg135 { transform: rotate(135deg) translate(10em) rotate(-135deg); }
.deg180 { transform: translate(-9em); margin-top: -1rem!important;}

.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}

.dropdown {
    position: relative;
    display: none;
    top: 50px;
    right: 315px;
    font-family: 'Bebas';
    font-size: 16px;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;

}

.dropdown2 {
    position: relative;
    display: none;
    top: 50px;
    right: 200px;
    font-family: 'Bebas';
    font-size: 16px;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;

}
.dropbtn {
	display: inline!important;
}
.dropdown-footer {
	background-color: #fedc01;
	position: absolute;
	top: 58px;
	min-width: 400px;
	height: 40px;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	border-top: solid 1px #0b7f0f;
}
.dropdown-footer li {
	display: inline-block;
}

.dopdown-footer i {
	color: black!important;
}

.dropdown-footer ul {
	float: right;
	padding: 9px;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
   
    position: absolute;
    margin-bottom: 10px;
    background-color: rgba(255, 207, 44, 0.8);
    min-width: 400px;
    height: 75px;
}
.dropdown-content2 {
   
    position: absolute;
    margin-bottom: 10px;
    background-color: rgba(255, 207, 44, 0.8);
    min-width: 400px;
}
.dropdown-content .col-md-4 {
	padding: 0!important;
	margin: 0!important;
	width: 200px;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 7px 10px 0px 20px;
    text-decoration: none;
    display: inline-table;
    float: left;
}

.dropdown-content2 a {
    color: black;
    padding: 7px 10px 0px 20px;
    text-decoration: none;
    display: inline-table;
    float: left;
}

/*-------------- SLIDER --------------*/


.main-slider {
	padding: 0!important;
	height:100%;
    width:100%;
	

}

.main-slider .btn{
	font-family: 'Oswald';
	font-style: light;
}
.carousel-inner >.item {
	width:100vw!important;
	height: 100vh!important;
}
.carousel-inner >.item >img{
	
	width: 100%;
    height:auto;
    display:block;
    margin:auto;
    position:absolute; /*trick for vertical center*/
    top:0;             /*trick for vertical center*/
    bottom:0;        
}

.carousel-indicators.active{
	color: #fedc01!important;
}

.carousel-caption{top: 50%;}

.carousel-caption {margin-top: 30px;}
.carousel-caption h1{
	font-family: 'Bebas';
	font-size: 9vw;
}

.carousel-caption h2{
	font-family: 'Lato', sans-serif;
	font-size: 2vw;
}

.carousel-caption button {
	border-radius: 0.5vw;
	outline: 0;
	height: 2.5vw;
	width: 8vw;
	background-color: rgba(254, 220, 1, 0.90);
	color: #49BF00;
	-moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    font-family: 'Lato', sans-serif;
    font-size: 1vw;
    margin-top: 20px;
}

.carousel-caption button:hover {

	color: #fff;
}
.carousel-caption button:focus {

	outline: 0;
	color: white;
}
.flex-container {
	margin-top: 30px;
}

.box {

	display: flex;
 	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.flex-item {
	max-width: 50%;
}

.flex-item img {
	max-width: 130px;
}

.flex-item p {
	padding: 0px 20px 0px 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 3vw;
}

/*-------------- RESULTAT & FLASH INFO --------------*/
.result-section{height: 100vh;}
.resultat-match {
	padding-top: 5rem;
	color: #0b7f0f;
	font-family: 'Oswald';
	outline: none;
}
.result-slider {
	outline: none;
}
.header-wrapper {

	max-width: 180px;

}
.sondage-wrapper > .header-wrapper {

	max-width: 140px !important;

}

.header-wrapper-history {
	width: 100%;
}
.header-wrapper-flash {

	max-width: 180px;

}
.header-wrapper-flash:first-child > h4{
	color: #0b7f0f;
	font-family: 'Oswald';
	padding-bottom: 7px;
	border-bottom: solid 3px green;
	box-shadow: 0 2px 0 yellow;
	font-size: 36px;
}

.result-slider {
		padding-left: 0px!important;
}
.result-slider ul {
	white-space: nowrap;
	overflow:hidden;
	width: 33.3%;
}
.result-slider li {
	display:inline-block!important;
	vertical-align: middle!important;
	padding: 1rem!important;
}

.result-slider li > p {
	font-size: 0.6em;
}

.result-slider li:nth-child(1) {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg); 
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  cursor: pointer;
}
.result-slider li:nth-child(7) {
 
  cursor: pointer;
}

.asm-tv {
	padding-top: 1em;
}

.flash-info {
	padding-top: 5rem;
	height: 700px;
	overflow-y: auto;
}

.panel-group {
	margin-top: 2rem;
}

.panel-body p{/*
	font-family: 'Oswald';
	font-style: light;*/
}

.panel-title{
	font-family: 'Oswald';
	font-style: light;
}

.flash-social li {
	display: inline-block;
	padding: 20px 10px 0px 0px;
	margin-bottom: 0px!important;
}
/*----------- Actualite II --------------------*/


/*------------- Classement -------*/
.sondage-wrapper {
	padding-top: 20px;

}

.sondage h4 {
	font-family: 'Lato', sans-serif;
	width: 400px;
}

.sondage-content {
	font-family: 'Oswald';
	width: 92%;
	height: 390px;
	margin-left: 30px;
}
.classement-section {
	margin-bottom: 50px;
}
.sondage-content label {
	padding-bottom: 30px;
}

.classement {
	padding: 20px 40px 50px 40px;
}


.classement-section, .header-wrapper {
	padding-bottom: 20px; 
}

.sondage-wrapper, .classement {
	padding-left: 5rem;
}

.classement .header-wrapper {
	max-width: 120px;
}
.sondage-content {
	padding: 20px 10px 20px 10px;
	max-width: 400px;
	margin-right: 0px!important;
	border: solid 3px #ecd213;
}


/*-------------- GALLERY --------------*/

.gal-wrapper {
	padding: 15px!important;


}

.gal-wrapper .col-md-6 {

	background-color: #fedc01;
}
.gal-act2 {
	height: 100vh;
}
.gal-act2 > div {
	padding: 3px;
}
.gal-header h4 {
	color: white;
}
.gal-wrapper figure {
	width: 100%;
}

.gallery .col-md-4 {
	padding: 2px 2px 0px 2px;
	background-color: #fedc01;

}
.gallery i {
	background-color: transparent;
	position: absolute;
	top: 45%;
	left: 45%;
	font-size: 50px;
}
.gallery-hover {
	background-color: transparent;
}
.gallery figcaption {
	background: rgba(255, 209, 44, 0.4);
	padding: 0px;
	top: 0!important;
	left: 0!important;
}
.tri-gallery li {
	display: inline-block;
	outline: none;
}

.tri-gallery button {
	color: #008B1B;
	outline: none;
	background-color: #fedc01;
	border-color: #fedc01;
}

.tri-gallery button:hover{
	background-color: #fedc01;
	border-color: white;
}

.btn{
	font-family: 'Oswald';
	font-style: light;
}
/*-------------- HISTOIRE & LEGENDE --------------*/
.histoire{
	padding-left : 0px!important;
	padding-right : 0px!important;
	margin-left : 0px!important;

}

.histoire .col-md-6:first-child{
	padding: 0px 0px 0px 0px!important;
}
.histoire-content {
	
	padding: 6rem 2rem 2rem 6rem;
}
.histoire-content p{
	font-family: 'Oswald';
	font-style: light;
	max-width: 60rem;
	padding: 20px;
	padding-bottom : 0px !important;
	padding-top : 0px !important;
}
.histoire .header-wrapper {
	/*padding-top: 20px;*/
}
.histoire .header-wrapper h4 {
	width: 100%;
	font-size: 36px;
}

.histoire h2 {
	/*padding: 60px 0px 20px 0px;*/
	color: #0b7f0f;
	font-family: 'Oswald';
	text-transform: uppercase;
}
.main-hist-title {
	position: absolute;
	left: 4%;
	top: 70%;
	width: 800px;
	z-index: 3;
	
}

.main-hist-title h1 {
	color: #f9d90f;
	font-family: 'Oswald';
	text-transform: uppercase;
	font-size: 10vw;
}

.histPic{
	position : absolute;
	max-width: 100%;
}

.histCalc{
	position : relative;
	max-width: 100%;
}

.prev-button img{
	transform: rotate(180deg);
	height:27px;
	cursor: pointer;
}
.next-button img {cursor: pointer;}

.next-button img:hover{
  animation: next-btn-animation ease-out 1s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: next-btn-animation ease-out 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: next-btn-animation ease-out 1s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: next-btn-animation ease-out 1s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: next-btn-animation ease-out 1s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes next-btn-animation{
  0% {
    transform:  translate(0px,0px)  ;
  }
  50% {
    transform:  translate(5px,0px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes next-btn-animation{
  0% {
    -moz-transform:  translate(0px,0px)  ;
  }
  50% {
    -moz-transform:  translate(5px,0px)  ;
  }
  100% {
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes next-btn-animation {
  0% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  50% {
    -webkit-transform:  translate(5px,0px)  ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes next-btn-animation {
  0% {
    -o-transform:  translate(0px,0px)  ;
  }
  50% {
    -o-transform:  translate(5px,0px)  ;
  }
  100% {
    -o-transform:  translate(0px,0px)  ;
  }
}

.prev-button img:hover{
  animation: prev-btn-animation ease-out 1s;
  animation-iteration-count: infinite;

  transform-origin: 50% 50%;
  -webkit-animation: prev-btn-animation ease-out 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: prev-btn-animation ease-out 1s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: prev-btn-animation ease-out 1s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: prev-btn-animation ease-out 1s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes prev-btn-animation{
  0% {
    transform:  translate(0px,0px) rotate(180deg) ;
  }
  50% {
    transform:  translate(-5px,0px) rotate(180deg) ;
  }
  100% {
    transform:  translate(0px,0px) rotate(180deg) ;
  }
}

@-moz-keyframes prev-btn-animation{
  0% {
    -moz-transform:  translate(0px,0px) rotate(180deg) ;
  }
  50% {
    -moz-transform:  translate(-5px,0px)  rotate(180deg);
  }
  100% {
    -moz-transform:  translate(0px,0px) rotate(180deg) ;
  }
}

@-webkit-keyframes prev-btn-animation {
  0% {
    -webkit-transform:  translate(0px,0px) rotate(180deg) ;
  }
  50% {
    -webkit-transform:  translate(-5px,0px) rotate(180deg) ;
  }
  100% {
    -webkit-transform:  translate(0px,0px) rotate(180deg) ;
  }
}

@-o-keyframes prev-btn-animation {
  0% {
    -o-transform:  translate(0px,0px) rotate(180deg) ;
  }
  50% {
    -o-transform:  translate(-5px,0px) rotate(180deg) ;
  }
  100% {
    -o-transform:  translate(0px,0px)  rotate(180deg);
  }
}




/*-------------- FOOTER --------------*/
footer {
	padding: 50px;
	background-image: url('../images/bg-footer.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

footer h2 {
	font-family: 'Bebas';
	color: white;
	padding: 8rem;
}

footer ul img {
	padding-right: 10px;
}
footer h2 img {
	width:3%;
}
/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) and (max-width: 500px) {

.carousel-caption h1 {margin-top: 0!important;}
.navbar{height: 15px;}
.carousel-caption{margin-top: 0px!important; padding:0px 0px 40px 0px;}
.carousel-caption button{margin-top: 5px!important; padding: 2px 3px 6px 3px;}
.flex-container{margin-top: 15px;}
.flex-container img{width: auto!important;}
.sponsors-nav{padding-left: 0px;}
.carousel-caption{top: 30%;}
.navbar-left:nth-child(-n+4){display: none;}
.main-list{display: inline;}
.main-list p {padding-top: 0px!important} 
.navbar-right li{ padding: 0px 10px 0px 10px!important; margin-bottom: 0px!important;}
.navbar-right {float: right; margin: 0px!important; padding: 0!important;}
.sondage-wrapper, .classement {padding-left: 2rem;}
.sondage-content {margin: 0!important; font-family: 'Oswald';}
footer h2 {padding: 2rem;font-size: 1.5rem;}
footer h2 img {width:15%;}
body .result-slider li{padding: 0.2rem!important;}
body .result-slider li img {max-width: 90px!important;}
.classement-section{margin-top: 120px;}

}


/* SMARTPHONES LANDSCAPE */
@media (min-width: 480px) and (max-width: 760px) {
.carousel-caption{padding: 0px 0px 0px 0px!important;}
.carousel-caption{top: 30%;}
footer h2 img {width:5%;}
.classement .header-wrapper {margin: auto;}
.classement-wrapper img {margin: auto;}

}


/* TABLETS PORTRAIT */
@media (max-width: 765px) {
.navbar-brand{display: inline;}
.nav-shape {display: none;}
.circle-container {display: none;}
}
@media (min-width: 765px) {
.navbar-left:nth-child(-n+4){display: inline;}
.carousel-caption{top: 50%;}
.circle-container {height: 4.5rem;}
.navbar-right li{ padding: 20px 10px 10px 10px!important;}
.main-list p {padding-top: 25px!important} 
.classement-img{margin-left: 80px;}
.classement{margin-left: 40px!important;}
}


/* TABLET LANDSCAPE / DESKTOP */
@media (min-width: 1024px) {
.carousel-caption{top: 39%;}
footer h2 img {width:4%;}
footer h2 {padding: 2rem;font-size: 3rem;}
.classement-img{margin-left: 80px;}

} 

/*-------------- EFFECTIF --------------*/
.effectif-wrapper {
	background-image: url('../images/squad/squad_background.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
    background-position: center;
	padding: 100px ;
	height: 77.3vh;
}

.effectif-wrapper ul {
	margin-top: 15vh;
}

.header-wrapper > h4.squad-title {
	color: #ffffff;
	width: 250px;
}

li button.btn-squad {
	border: none;
	margin: 5px 5px 5px 5px;
}

li button.btn-squad:hover {
}

.corner {position:relative;width:200px;height:50px;}
.corner:before, .corner>:first-child:before {
    position:absolute;
    width:20px; height: 20px;
    border-color: #088f0f;
    border-style:solid;
    content: ' ';
}
.corner:before {top:0;left:0;border-width: 1px 0 0 1px}
.corner>:first-child:before {bottom:0;right:0;border-width: 0 1px 1px 0}
.corner p {
	font-family: "Oswald" ;
	font-size: 37px ;
}
.corner a {
	color: #008B1B;
	text-decoration: none;
	-webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
}
.corner a:hover {
	color: white;
}

/*-------------- PALMARES --------------*/
.palmares-wrapper {
	background-image: url('../images/squad/prize_background.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	padding: 100px ;
	height: 73vh;
}

.palmares-wrapper ul {
	margin: auto;
}

.header-wrapper > h4.palmares-title {
	color: #ffffff;
	width: 175px;
	margin-top: -50px;
}

.prize-group {
	margin-top: 2vh;
}

.prize-group h3 {
	font-family: 'Bebas';
	font-size: 2.3rem;
	color: #ffffff;
	text-align: center;
}

.prize-group img {
	display: block;
	margin: auto;
	max-height: 20vh;
}

.slick-slide img{
	-webkit-transition: zoom 0.5s ease-in-out;
    -moz-transition: zoom 0.5s ease-in-out;
    -o-transition: zoom 0.5s ease-in-out;
    transition: zoom 0.5s ease-in-out;
}
.slick-current img {
	zoom: 1.5;
}

@media only screen and (min-width: 300px) and (max-width: 480px) {
	.effectif-wrapper ul {
	    margin-left: -20vw;
	}
	.effectif-wrapper h4 {
		margin-left: -14vw;
	}
	.classement .header-wrapper {margin: auto; margin-left: 20vw !important;}
	.classement .header-wrapper img {margin: auto;}
	.prize { opacity: 0 }
	.slick-active { opacity: 1 }
}

@media (min-width: 480px) and (max-width: 760px) {
.palmares-wrapper {height: 100vh;}
}