/*------------------------------------------------------------------
[Master Stylesheet]

Project    	: DANUP GALERIE
Version		: 2.0
Last change	: 

-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Table of contents]

1. General Structures
2. MODAL
3. Slider
4. NAV
5. Images
6. Footer
7. Portrait & landscape phone
8. Landscape phone to portrait tablet
9. Large Desktop

-------------------------------------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Roboto);
@font-face {
  font-family: 'Phenomena';
  src: url('../fonts/Phenomena-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cubano';
  src: url('../fonts/Cubano-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@import url(..fonts/Cubano-regular.otf);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow-x: hidden!important;
  outline: 0;
  -webkit-font-smoothing: subpixel-antialiased;
}

h1 {
  font-family: "Cubano";
  font-size: 5rem!important;
}

h2 {
  margin-bottom: 0px!important;
}

p {
  font-family: "Roboto";
}

a:focus,
img:focus,
input:focus {
  outline: 0;
}

.brightness {
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
  -moz-filter: brightness(50%);
  -o-filter: brightness(50%);
  -ms-filter: brightness(50%);
}



/* ------ MODAL -------- */

.loginmodal-container {
  padding: 30px;
  max-width: 100%;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
  border-radius: 1px;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 3rem!important;
  font-family: "Cubano";
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text],
input[type=password],
input[type=email] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover,
input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
}

.loginmodal-submit {
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
}

.loginmodal-submit:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-color: #357ae8;
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help {
  font-size: 12px;
}

.fb-click {
  background-image: url('../../images/facebook_inscri.svg');
  background-position: center center;
  background-size: cover;
  background-repeat: repeat-x;
  background-size: 100%;
  padding: 10%;
  position: relative;
}

.close-modal {
  position: absolute;
  z-index: 99;
  left: 92%;
  top: 2%;
}


/* ------ Slider --------*/

.points p {
  margin: 0;
  padding: 0;
}

.concept p {
  font-family: "Phenomena";
  font-size: 3rem!important;
  line-height: 99%!important;
}

.etapes {
  padding-top: 85px!important;
}

.concept hr {
  width: 10%;
  margin: 100px 30px 20px 490px;
}

.img-slide1 {
  padding: 30px;
   -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.slider-form {
  background-color: #fff;
  border-radius: 15px;
  padding: 30px 30px 5px 30px;
  max-width: 350px;
  width: 100% !important;
  margin: 0px 0px 20px 40px;
  overflow: hidden;
}

.slider-form input[type=text] {
  width: 100%!important;
  display: block;
  margin-bottom: 10px!important;
  position: relative;
}

#singlebutton {
  width: 100%;
}

.form-wrapper {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 11111111;
  left: 0;
  top: 8%;
  padding-top: 100px;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.slider-form p {
  font-size: 15px;
  color: #336699!important;
  margin: -right 0!important;
}

.titre {
  color: white!important;
  padding-top: 15%!important;
}

.titre p {
  display: inline!important;
}

/* ------ NAV ----------- */

.navbar {
  background-color: transparent;
  margin-bottom: 0;
  padding-top: 20px;
  position: absolute;
  z-index: 999;
  border: none;
  width: 100%;
}

.navbar-right li {
  margin-left: 0!important;
}

.navbar-right a {
  padding-top: 15px;
  font-family: "Cubano";
  color: #fff!important;
  font-size: 18px!important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navbar a:hover {

}

.dropdown-toggle {
  margin: 0;
  padding: 0!important;
  width: 10px!important;
  color: #fff!important;
  font-family: "Cubano";
}

.dropdown {
  background: transparent;
  max-width: 300px;
  display: inline-block;
  color: #fff!important;
}

.dropdown-menu>li>a {
  color: #727272;
}

.dropdown ul.dropdown-menu {
  border-radius: 4px;
  box-shadow: none;
  margin-top: 20px;
  width: 300px;
}

.dropdown ul.dropdown-menu:before {
  content: "";
  border-bottom: 10px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -10px;
  right: 250px;
  z-index: 10;
}

.dropdown ul.dropdown-menu:after {
  content: "";
  border-bottom: 12px solid #ccc;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  position: absolute;
  top: -12px;
  right: 250px;
  z-index: 9;
}


/* ----------- IMAGES ------ */

.imagesgrid {
  padding: 20px 50px 40px 115px;
  margin: 0px 0px 0px 0px!important;
  background-color: #f4f4f4;
  width: 100%;
  

}


.images-title {
  padding: 40px 120px 50px 10px;
}

#big_wrap,
#small_wrap,
.big-img,
.items {
  display: inline-block!important;
  vertical-align:bottom;

}
#big_wrap {
  width: 46.2%;
  margin: 0!important;
}
#small_wrap {
  width: 52.192%;



}

#big_wrap > .big-img {
  width: 100%;

}

.big-img img {
  


}

#small_wrap > .items {
  width: 45.2%;
  padding-bottom: 45.2%;
  background: #2C3E50;

}
.second-section {
  float: left!important;
}
.p-left {
  background-color: #662d91;
  padding: 220px 40px 40px 40px;
  color: #fff;
}

.p-right {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.zoom {
  position: absolute;
  z-index: 99999;
  margin: 0;
}

.page1 {
  display: flex;
}


/* --------- FOOTER -------- */

.banner {
  padding: 90px 200px 90px 200px;
  background: linear-gradient(181deg, #ff9000, #ffd300);
  background-size: 400% 400%;
  -webkit-animation: orange-test 8s ease infinite;
  -moz-animation: orange-test 8s ease infinite;
  animation: orange-test 8s ease infinite;
}

@-webkit-keyframes orange-test {
  0% {
    background-position: 56% 0%
  }
  50% {
    background-position: 45% 100%
  }
  100% {
    background-position: 56% 0%
  }
}

@-moz-keyframes orange-test {
  0% {
    background-position: 56% 0%
  }
  50% {
    background-position: 45% 100%
  }
  100% {
    background-position: 56% 0%
  }
}

@keyframes orange-test {
  0% {
    background-position: 56% 0%
  }
  50% {
    background-position: 45% 100%
  }
  100% {
    background-position: 56% 0%
  }
}

.banner button {
  background-color: transparent;
  outline: 0;
  margin: 5px;
  display: inline-block;
  color: #fff;
  border-color: #fff;
  border-width: 3px;
  border-radius: 0;
  font-family: "Cubano";
  font-size: 18px!important;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.banner button:hover {
  background-color: #fff;
  outline: 0;
  color: #ff9000;
  border-color: #fff;
  border-width: 3px;
  border-radius: 0;
  font-family: "Cubano";
  font-size: 18px!important;
}

footer {
  /*background-color: #14CCAA;*/
  color: #fff;
  padding: 40px 90px 20px 0px;
}

footer p {
  color: #ccc
}

footer li a ul {
  color: #5B595B;
  list-style: none!important;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
    padding: 0!important;

}


/*------------------------ Back to top -----------------------------*/

.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  background-color: #777777;
  color: #eeeeee;
  width: 50px;
  height: 48px;
  line-height: 48px;
  right: 30px;
  bottom: 30px;
  padding-top: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
  background-color: #888888;
  opacity: 1;
}
.scroll-top-wrapper.show {
  visibility:visible;
  cursor:pointer;
  opacity: 0.5;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
}



/*------------------- Portrait & landscape phone -------------------*/

@media (max-width: 480px) {
  .banner {
    padding: 10px 10px 10px 10px;
  }
  .images-title {
    padding: 40px;
  }
  .imagesgrid {
    padding: 50px!important;
  }
  .navbar-collapse.collapse.in {
    width: 100%;
    height: 510%;
    background-color: rgba(0, 1, 1, 0.5);
    margin-right: 0px!important;
    position: absolute;
    top: 0!important;
    border: 0px;

  }
  #ul-menu li:nth-last-child(-n+3) {
    display: inline-block!important;
  }
  #ul-menu li:nth-last-child(-n+3) a {
    padding-left: 10px;
  }
  .dropdown-menu>li>a {
    color: #fff!important;
  }
  .dropdown ul.dropdown-menu:before {
    visibility: hidden;
  }
  .dropdown ul.dropdown-menu:after {
    visibility: hidden;
  }

  .dropdown span {
    margin-bottom: 10px;
  }
  .page1 {
    display: initial;
  }
  .p-left {
    padding: 20px 40px 40px 40px;
  }
  .titre {
    visibility: hidden;
  }
  .navbar-toggle {
    z-index: 999999999;
    margin: 0;
  }
  .points {
    padding-left: 40px!important;
  }
  .etapes img{
    padding: 10px!important;
  }

  .etapes {
    margin: 0!important;
    padding-top: 0px!important;
  }
  .concept hr {
    width: 10%;
    margin: 40px 100px 200px 290px;
  }
  .form-wrapper {
    padding-top: 40px;

  }
  .slider-form {
    padding-top: 20px!important;
    float: right;
  }

  .slider-form fieldset div{
    margin-bottom: 9px;
  }
}


/*------------------- Landscape phone to portrait tablet -------------------*/

@media (max-width: 768px) {
  .imagesgrid {
    padding-top: 20px;
  }
  .navbar-collapse {
    padding-right: 0!important;
  }
  .slider-form {
    margin-left: 390px!important;
  }
  .cd-full-width {
    padding-top: 20%!important;
    margin-left: 10px;
  }
  .navbar-collapse.collapse.in {
    width: 100%;
    height: 509.1%;
    background-color: rgba(0, 1, 1, 0.5);
    margin-right: 0px!important;
    position: absolute;
    top: 0!important;
    border: 0px;
  }
  .dropdown-toggle {
    margin: 0;
    padding: 15px 0px 0px 0px!important;
    width: 40px!important;
  }

  .etapes {
    padding-top: 95px!important;
  }
  .etapes img {

    width: 600px;
  }

  .points-header {

    font-size: 23px!important;
  }

  .points > div {

    margin: 0px 10px 0px 10px; 
  }

  .concept p {
    margin-bottom: 0px!important;
  }

  .concept {
    padding-top: 190px!important;
  }
}

@media (min-width: 1024px) {
  .cd-full-width {
    padding-top: 12%!important;
  }

  .etapes {
    padding-top: 120px!important;
  }
  .etapes img {

    width: 600px;
  }

  .points-header {

    font-size: 23px!important;
  }

  .concept p {
    margin-bottom: 0px!important;
  }

  .concept {
    padding-top: 190px!important;
  }
}


/*------------------- Large desktop -------------------*/

@media (min-width: 1200px) {
  h2 {
    font-size: 36px!important;
  }
  .dropdown-toggle {
    margin: 0;
    padding: 15px 0px 0px 0px!important;
    width: 150px!important;
  }
    .etapes img {

    width: 950px;
  }
}
