li {
	text-decoration: none;
	list-style: none;
}

a:hover {
	text-decoration: none;
}

.profile-header {
	

}

.section-one {
	padding: 100px;
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.section-one ul {
	padding: 0!important;
}

.section-two {
	background-color: #662d91;
	padding: 0px 20px 0px 20px;
	color: #fff;
}

.user-title {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0!important;
}

.user-title h1 {

	font-size: 90px!important;
	color: #be1522;
}

.user-title ul {
	padding: 0!important;

}

.user-title li {
	text-decoration: none;
	list-style: none;
	padding: 0!important;
}

.pink-row {

	background-color: #e62287;
}

.yellow-row {
	background-color: #f5e32b;
}

.white-row {

}

.blue-row {
	background-color: #00aeef;
}

.img-container {
	padding: 0!important;
}

footer {
	
	background: linear-gradient(2deg, #006699, #00aeef);
	background-size: 400% 400%;
	-webkit-animation: footer-blue 7s ease infinite;
	-moz-animation: footer-blue 7s ease infinite;
	-o-animation: footer-blue 7s ease infinite;
	animation: footer-blue 7s ease infinite;
	padding: 90px;
}

.upload-btn {
	background-color: transparent;
	color: white;

}


@-webkit-keyframes footer-blue {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes footer-blue {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes footer-blue {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes footer-blue { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

