@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,300,700);

body {
  background: #34495e;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 81.25%;
  line-height: 1.333;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4 {
  text-shadow: 2px 2px #222;
  text-align: center;
}

h1 {
  font-size: 4rem;
  line-height: .8;
}

h1 span {
  font-size: 16rem;
  margin-top: -30px;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 4rem;
}

h3 span {
  font-size: 10rem;
}

p, a {
  text-shadow: 2px 2px #222;
  font-size: 2rem;
}

iframe {
  border: 1rem solid #2c3e50;
}

span {
  display: block;
}

.step {
  width: 600px;
}
code {
  background: #ecf0f1;
  border: 1rem solid #2c3e50;
  border-radius: .5rem;
  color: #333;
  display: block;
  padding: 1rem;
}

li {
  font-size: 1rem;
}

.active, a:hover:after {
  opacity: 1;
  zoom: 1;
}

.future, .past {
  opacity: .1;
  zoom: 1;
}

a {
  clear: left;
  color: #fefefe;
  text-decoration: none;
  position: relative;
}

a:after {
  content: ">";
  position: absolute;
  right: 0;
  opacity: 0;
}

a:hover:after {
  right: -20px;
}

a:hover {
  text-shadow: 4px 4px #222;
  color: #ccc;
}

a, 
a:after, 
.step {
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.step {
  display: block;
  margin: auto;
}